<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:/application.properties"/>
  </bean>

  <bean class="ua.com.shop.dao.ProductDaoImpl" id="productDao">
  </bean>

  <bean class="ua.com.shop.service.ProductServiceImpl" id="productService">
    <constructor-arg name="productDao" ref="productDao"/>
  </bean>

  <bean class="ua.com.shop.controller.ProductController" id="productController">
    <constructor-arg name="productService" ref="productService"/>
  </bean>

  <bean class="ua.com.shop.dao.OrderDaoImpl" id="orderDao">
  </bean>

  <bean class="ua.com.shop.service.OrderServiceImpl" id="orderService">
    <constructor-arg name="orderDao" ref="orderDao"/>
    <constructor-arg name="productService" ref="productService"/>
  </bean>

  <bean class="ua.com.shop.controller.OrderController" id="orderController">
    <constructor-arg name="productService" ref="productService"/>
    <constructor-arg name="orderService" ref="orderService"/>
  </bean>

  <bean class="ua.com.shop.controller.MainController"/>

  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

</beans>